House_Prices/ignore/
MNIST_digits/MNIST_data/
MNIST_digits/dataset/
MNIST_digits/.ipynb_checkpoints
MNIST_digits/models/
Disaster_tweets/dataset/
Disaster_tweets/models/
Disaster_tweets/ignore/
Disaster_tweets/notebook1/dataset/
Disaster_tweets/notebook1/ignore/
Disaster_tweets/notebook1/model/
Disaster_tweets/notebook2/input/
Disaster_tweets/notebook2/output/saved_model/
House_Prices/dataset/
titanic/model/
__*
.*
!/.gitignore
